@import url("https://fonts.googleapis.com/css2?family=Forum&family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

$dark-color: #030303;
$red-color: #710707;
$gold-color: #9d8665;
$light-gold-color: #7e6c51;

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 300;
  font-size: 22px;
  font-family: Roboto, sans-serif;
  line-height: 38.5px;
  margin-bottom: 500px; //
}

.container {
  max-width: 1480px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: $dark-color;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
  }

  &__logo {
    min-width: 200px;
    margin-right: 40px;
  }

  &__nav {
    width: 100%;
    max-width: 775px;
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
  }

  &__nav-item {
    font-weight: 300;
    font-size: 22px;
    font-family: Roboto, sans-serif;
    line-height: 26px;
    letter-spacing: 2px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__nav-link {
    color: white;
    text-transform: capitalize;
    text-decoration: none;

    &:hover {
      color: $gold-color;
    }

    &:active {
      color: $light-gold-color;
    }
  }

  &__nav-btn {
    display: none;
    width: 25px;
    height: 25px;
    margin-left: auto;
    background-color: transparent;
    background-image: url("../assets/dropdown_menu.png");
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;

    &--active {
      background-image: url("../assets/cross.png");
    }
  }
}

.welcome {
  background-color: $dark-color;
  &__inner {
    position: relative;
    height: 810px;
  }

  &__info {
    position: relative;
    padding-top: 150px;
    z-index: 5;
  }

  &__title {
    font-weight: 400;
    font-family: forum;
    color: white;
    margin-bottom: 25px;
    font-size: 80px;
    line-height: 90px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  &__text {
    color: white;
    margin-bottom: 75px;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
  }

  &__btn {
    width: 360px;
    height: 75px;
    background-color: #710707;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    cursor: pointer;
  }

  &__slider {
    position: absolute;
    right: 0;
    top: 0;
    width: 69.4%;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        #000000 0%,
        rgba(0, 0, 0, 0.5) 16.19%,
        rgba(0, 0, 0, 0) 30.73%
      );
    }
  }

  &__slider-list {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  &__slider-item {
    flex-shrink: 0;
    max-width: 100%;
  }

  &__slider-controls {
    background-color: $dark-color;
    height: 120px;
    position: absolute;
    right: 0;
    bottom: -60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 75px 0 74px;
    width: 600px;
  }

  &__slider-numbers {
    display: flex;
    align-items: center;
    font-weight: 400;
    line-height: 40px;
    color: white;
  }

  &__slider-line {
    margin: 0 12px;
    width: 2px;
    height: 20px;
    background-color: white;
  }

  &__slider-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
  }

  &__slider-pagination-item {
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-color: white;
    &:hover {
      background-color: $light-gold-color;
    }
    &--active {
      background-color: $gold-color;
    }
  }

  &__slider-arrows {
    display: flex;
    justify-content: space-between;
    width: 80px;
  }

  &__slider-arrow {
    cursor: pointer;
    border: none;
    outline: none;
    width: 30px;
    height: 8px;
    &:hover {
      filter: invert(71%) sepia(41%) saturate(292%) hue-rotate(355deg)
        brightness(94%) contrast(91%);
    }
  }
  &__slider-arrow-prev {
    background: url("../assets/svg/arrow-prev.svg") no-repeat center;
  }
  &__slider-arrow-next {
    background: url("../assets/svg/arrow-next.svg") no-repeat center;
  }
}

.tour {
  &__inner {
    padding: 75px 0;
  }

  &__title {
    font-family: Forum;
    font-size: 80px;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    color: $gold-color;
    text-transform: uppercase;
    margin-bottom: 75px;
    &::after {
      margin-top: 25px;
      display: block;
      content: "";
      width: 100%;
      height: 3px;
      background-color: $red-color;
    }
    @media (max-width: 1024px) {
      font-size: 50px;
      line-height: 75px;
      margin-bottom: 60px;
      &::after {
        margin-top: 20px;
      }
    }
    @media (max-width: 768px) {
      font-size: 40px;
      line-height: 60px;
      margin-bottom: 40px;
    }
    @media (max-width: 420px) {
      font-size: 28px;
      line-height: 40px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(320px, 440px));

    justify-content: space-between;
    gap: 74px 25px;
    @media (max-width: 1050px) {
      grid-template-columns: repeat(2, minmax(280px, 330px));
      justify-content: center;
      gap: 60px 108px;
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, minmax(210px, 280px));
      gap: 40px 56px;
    }
    @media (max-width: 550px) {
      grid-template-columns: minmax(250px, 280px);
    }
  }

  &__item {
    max-width: 440px;
    &:hover &-title::after {
      width: 100%;
    }
  }

  &__item-img {
    margin-bottom: 25px;
  }

  &__item-title {
    text-transform: uppercase;
    font-family: Forum;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 5px;
    margin-bottom: 5px;
    &::after {
      margin-top: 10px;
      display: block;
      height: 2px;
      content: "";
      width: 68%;
      background-color: $red-color;
      transition: 0.3s;
    }
    @media (max-width: 1024px) {
      font-size: 28px;
      line-height: 31px;
      letter-spacing: 3px;
      margin-bottom: 10px;
      &::after {
        width: 45%;
        margin-top: 11px;
      }
    }
    @media (max-width: 768px) {
      font-size: 22px;
      line-height: 24px;
      &::after {
        width: 53%;
        margin-top: 9px;
      }
    }
    @media (max-width: 420px) {
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 5px;
    }
  }

  &__item-text {
    margin-bottom: 3px;
    @media (max-width: 1024px) {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 10px;
    }
    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 21px;
    }
    @media (max-width: 420px) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__item-subtext {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: 21px;
    @media (max-width: 1024px) {
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.explore {
  background-color: $dark-color;
  &__inner {
    display: flex;
    padding: 75px 0;
    @media (max-width: 1024px) {
      padding: 60px 0;
      flex-direction: column;
    }
    @media (max-width: 768px) {
      padding: 40px 0 38px;
    }
  }
  &__info {
    max-width: 660px;
    margin-right: 60px;
    @media (max-width: 1024px) {
      max-width: 100%;
      width: 100%;
    }
  }
  &__title {
    font-family: FORUM;
    letter-spacing: 5px;
    font-size: 80px;
    line-height: 90px;
    color: white;
    margin-bottom: 76px;
    text-transform: uppercase;
    &::after {
      content: "";
      background-color: $red-color;
      margin-top: 25px;
      display: block;
      height: 3px;
    }
    @media (max-width: 1024px) {
      font-size: 50px;
      line-height: 75px;
      margin-bottom: 60px;
      &::after {
        margin-top: 20px;
      }
    }
    @media (max-width: 768px) {
      margin-bottom: 25px;
      font-size: 40px;
      line-height: 60px;
    }
    @media (max-width: 420px) {
      font-size: 28px;
      line-height: 40px;
      &::after {
        margin-top: 18px;
      }
    }
  }
  &__text {
    color: white;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
    &--yellow {
      color: $gold-color;
    }
    @media (max-width: 1024px) {
      font-size: 20px;
      line-height: 39px;
      margin-bottom: 0;
      &--space {
        display: none;
      }
      &:last-child {
        display: none;
      }
      &:nth-of-type(2) {
        margin-bottom: 40px;
      }
    }
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__slider {
    min-width: 540px;
    margin-top: 15px;
    @media (max-width: 1024px) {
      align-self: center;
    }
    @media (max-width: 768px) {
      min-width: 0;
      align-self: stretch;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    &__inner {
      position: relative;
      height: 130px;
    }

    &__nav-list {
      padding-top: 22px;
      background-color: $dark-color;
      z-index: 99999;
      position: absolute;
      top: 130px;
      left: 0;
      width: 297px;
      height: 585px;
      display: none;
      flex-direction: column;

      &--active {
        display: block;
      }
    }

    &__nav-item {
      margin-left: 22px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 143px;
      padding: 12.5px;
      font-size: 20px;
      line-height: 23px;

      &::after {
        width: 7px;
        height: 7px;
        border: 1px solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(-45deg);
        content: "";
      }
    }

    &__nav-btn {
      display: block;
    }
  }
  .welcome {
    &__inner {
      height: 585px;
    }
    &__info {
      padding-top: 50px;
    }
    &__title {
      font-size: 50px;
    }
    &__text {
      margin-bottom: 50px;
      font-size: 24px;
      line-height: 28px;
    }

    &__btn {
      width: 300px;
      height: 60px;
      font-size: 20px;
      line-height: 23px;
    }

    &__slider {
      width: 71%;
    }
    &__slider-controls {
      justify-content: flex-end;
      width: 100%;
    }

    &__slider-pagination {
      width: 160px;
      margin-right: 45px;
    }

    &__slider-pagination-item {
      width: 12px;
      height: 12px;
    }

    &__slider-numbers {
      font-size: 20px;
      margin-right: 45px;
    }
  }
  .tour {
    &__inner {
      padding: 60px 0 79px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__inner {
      height: 110px;
    }
  }

  .welcome {
    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 861px;
    }
    &__info {
      text-align: center;
      padding-top: 0;
    }
    &__title {
      line-height: 60px;
      font-size: 40px;
    }
    &__text {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 47px;
    }
    &__btn {
      display: none;
    }
    &__slider {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: static;
      &::before {
        content: none;
      }
    }
    &__slider-controls {
      position: static;
      height: 100px;
      padding: 0;
      justify-content: center;
    }
  }
  .tour {
    &__inner {
      padding: 40px 0;
    }
  }
}

@media (max-width: 420px) {
  .header {
    &__inner {
      height: 90px;
    }
    &__logo {
      min-width: 131px;
    }
  }

  .welcome {
    &__inner {
      height: 544px;
    }
    &__title {
      padding-top: 5px;
      font-size: 28px;
      line-height: 40px;
    }

    &__text {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 50px;
    }

    &__slider-controls {
      height: 80px;
    }

    &__slider-numbers {
      font-size: 18px;
      margin-right: 25px;
    }

    &__slider-pagination {
      width: 75px;
      margin-right: 25px;
    }
    &__slider-pagination-item {
      width: 7px;
      height: 7px;
    }
    &__slider-line {
      margin: 0 5px;
    }
    &__slider-arrows {
      width: 55px;
    }
    &__slider-arrow {
      width: 20px;
      height: 8px;
    }
  }
}
