@import url("https://fonts.googleapis.com/css2?family=Forum&family=Roboto:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 300;
  font-size: 22px;
  font-family: Roboto, sans-serif;
  line-height: 38.5px;
  margin-bottom: 500px;
}

.container {
  max-width: 1480px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: #030303;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 150px;
}

.header__logo {
  min-width: 200px;
  margin-right: 40px;
}

.header__nav {
  width: 100%;
  max-width: 775px;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-item {
  font-weight: 300;
  font-size: 22px;
  font-family: Roboto, sans-serif;
  line-height: 26px;
  letter-spacing: 2px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  color: white;
  text-transform: capitalize;
  text-decoration: none;
}

.header__nav-link:hover {
  color: #9d8665;
}

.header__nav-link:active {
  color: #7e6c51;
}

.header__nav-btn {
  display: none;
  width: 25px;
  height: 25px;
  margin-left: auto;
  background-color: transparent;
  background-image: url("../assets/dropdown_menu.png");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}

.header__nav-btn--active {
  background-image: url("../assets/cross.png");
}

.welcome {
  background-color: #030303;
}

.welcome__inner {
  position: relative;
  height: 810px;
}

.welcome__info {
  position: relative;
  padding-top: 150px;
  z-index: 5;
}

.welcome__title {
  font-weight: 400;
  font-family: forum;
  color: white;
  margin-bottom: 25px;
  font-size: 80px;
  line-height: 90px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.welcome__text {
  color: white;
  margin-bottom: 75px;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
}

.welcome__btn {
  width: 360px;
  height: 75px;
  background-color: #710707;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  cursor: pointer;
}

.welcome__slider {
  position: absolute;
  right: 0;
  top: 0;
  width: 69.4%;
}

.welcome__slider::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(16.19%, rgba(0, 0, 0, 0.5)), color-stop(30.73%, rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

.welcome__slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.welcome__slider-item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 100%;
}

.welcome__slider-controls {
  background-color: #030303;
  height: 120px;
  position: absolute;
  right: 0;
  bottom: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 75px 0 74px;
  width: 600px;
}

.welcome__slider-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  line-height: 40px;
  color: white;
}

.welcome__slider-line {
  margin: 0 12px;
  width: 2px;
  height: 20px;
  background-color: white;
}

.welcome__slider-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 180px;
}

.welcome__slider-pagination-item {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-color: white;
}

.welcome__slider-pagination-item:hover {
  background-color: #7e6c51;
}

.welcome__slider-pagination-item--active {
  background-color: #9d8665;
}

.welcome__slider-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80px;
}

.welcome__slider-arrow {
  cursor: pointer;
  border: none;
  outline: none;
  width: 30px;
  height: 8px;
}

.welcome__slider-arrow:hover {
  -webkit-filter: invert(71%) sepia(41%) saturate(292%) hue-rotate(355deg) brightness(94%) contrast(91%);
          filter: invert(71%) sepia(41%) saturate(292%) hue-rotate(355deg) brightness(94%) contrast(91%);
}

.welcome__slider-arrow-prev {
  background: url("../assets/svg/arrow-prev.svg") no-repeat center;
}

.welcome__slider-arrow-next {
  background: url("../assets/svg/arrow-next.svg") no-repeat center;
}

.tour__inner {
  padding: 75px 0;
}

.tour__title {
  font-family: Forum;
  font-size: 80px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  color: #9d8665;
  text-transform: uppercase;
  margin-bottom: 75px;
}

.tour__title::after {
  margin-top: 25px;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #710707;
}

@media (max-width: 1024px) {
  .tour__title {
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 60px;
  }
  .tour__title::after {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .tour__title {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 40px;
  }
}

@media (max-width: 420px) {
  .tour__title {
    font-size: 28px;
    line-height: 40px;
  }
}

.tour__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 440px))[3];
      grid-template-columns: repeat(3, minmax(320px, 440px));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 74px 25px;
}

@media (max-width: 1050px) {
  .tour__list {
    -ms-grid-columns: (minmax(280px, 330px))[2];
        grid-template-columns: repeat(2, minmax(280px, 330px));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 60px 108px;
  }
}

@media (max-width: 768px) {
  .tour__list {
    -ms-grid-columns: (minmax(210px, 280px))[2];
        grid-template-columns: repeat(2, minmax(210px, 280px));
    gap: 40px 56px;
  }
}

@media (max-width: 550px) {
  .tour__list {
    -ms-grid-columns: minmax(250px, 280px);
        grid-template-columns: minmax(250px, 280px);
  }
}

.tour__item {
  max-width: 440px;
}

.tour__item:hover .tour__item-title::after {
  width: 100%;
}

.tour__item-img {
  margin-bottom: 25px;
}

.tour__item-title {
  text-transform: uppercase;
  font-family: Forum;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 5px;
  margin-bottom: 5px;
}

.tour__item-title::after {
  margin-top: 10px;
  display: block;
  height: 2px;
  content: "";
  width: 68%;
  background-color: #710707;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1024px) {
  .tour__item-title {
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 3px;
    margin-bottom: 10px;
  }
  .tour__item-title::after {
    width: 45%;
    margin-top: 11px;
  }
}

@media (max-width: 768px) {
  .tour__item-title {
    font-size: 22px;
    line-height: 24px;
  }
  .tour__item-title::after {
    width: 53%;
    margin-top: 9px;
  }
}

@media (max-width: 420px) {
  .tour__item-title {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 5px;
  }
}

.tour__item-text {
  margin-bottom: 3px;
}

@media (max-width: 1024px) {
  .tour__item-text {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .tour__item-text {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 420px) {
  .tour__item-text {
    font-size: 16px;
    line-height: 19px;
  }
}

.tour__item-subtext {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: 21px;
}

@media (max-width: 1024px) {
  .tour__item-subtext {
    font-size: 16px;
    line-height: 19px;
  }
}

.explore {
  background-color: #030303;
}

.explore__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 75px 0;
}

@media (max-width: 1024px) {
  .explore__inner {
    padding: 60px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .explore__inner {
    padding: 40px 0 45px;
  }
}

.explore__info {
  max-width: 660px;
  margin-right: 60px;
}

@media (max-width: 1024px) {
  .explore__info {
    max-width: 100%;
    width: 100%;
  }
}

.explore__title {
  font-family: FORUM;
  letter-spacing: 5px;
  font-size: 80px;
  line-height: 90px;
  color: white;
  margin-bottom: 76px;
  text-transform: uppercase;
}

.explore__title::after {
  content: "";
  background-color: #710707;
  margin-top: 25px;
  display: block;
  height: 3px;
}

@media (max-width: 1024px) {
  .explore__title {
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 60px;
  }
  .explore__title::after {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .explore__title {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 60px;
  }
}

@media (max-width: 420px) {
  .explore__title {
    font-size: 28px;
    line-height: 40px;
  }
  .explore__title::after {
    margin-top: 18px;
  }
}

.explore__text {
  color: white;
  margin-bottom: 25px;
}

.explore__text:last-child {
  margin-bottom: 0;
}

.explore__text--yellow {
  color: #9d8665;
}

@media (max-width: 1024px) {
  .explore__text {
    font-size: 20px;
    line-height: 39px;
    margin-bottom: 0;
  }
  .explore__text--space {
    display: none;
  }
  .explore__text:last-child {
    display: none;
  }
  .explore__text:nth-of-type(2) {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .explore__text {
    display: none;
  }
}

.explore__slider {
  min-width: 540px;
  margin-top: 15px;
}

@media (max-width: 1024px) {
  .explore__slider {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 768px) {
  .explore__slider {
    min-width: 0;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}

.video__inner {
  padding: 75px 0;
}

@media (max-width: 1024px) {
  .video__inner {
    padding: 60px 0;
  }
}

@media (max-width: 768px) {
  .video__inner {
    padding: 40px 0 80px;
  }
}

@media (max-width: 420px) {
  .video__inner {
    padding: 40px 0;
  }
}

.video__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 75px;
}

@media (max-width: 1024px) {
  .video__info {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .video__info {
    margin-bottom: 20px;
  }
}

@media (max-width: 420px) {
  .video__info {
    margin-bottom: 16px;
  }
}

.video__title {
  text-transform: uppercase;
  font-family: forum;
  font-size: 80px;
  line-height: 90px;
  color: #9d8665;
  letter-spacing: 5px;
  margin-right: 115px;
}

@media (max-width: 1024px) {
  .video__title {
    font-size: 50px;
    line-height: 75px;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .video__title {
    font-size: 40px;
    line-height: 60px;
  }
}

@media (max-width: 420px) {
  .video__title {
    font-size: 28px;
    line-height: 40px;
  }
}

.video__text {
  margin-top: 7px;
}

@media (max-width: 1024px) {
  .video__text {
    display: none;
  }
}

.video__main-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 125px;
}

@media (max-width: 1024px) {
  .video__main-video {
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .video__main-video {
    margin-bottom: 77px;
  }
}

@media (max-width: 420px) {
  .video__main-video {
    margin-bottom: 95px;
  }
}

.video__main-video-play {
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 220px;
  background-color: transparent;
  border-radius: 50%;
  border: 9px solid white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video__main-video-play::after {
  content: "";
  width: 0;
  height: 0;
  margin-left: 25px;
  border-style: solid;
  border-width: 60px 0 60px 91px;
  border-color: transparent transparent transparent white;
}

.video__main-video-play:hover {
  border-color: #c7c3c3;
}

@media (max-width: 1024px) {
  .video__main-video-play {
    height: 152px;
    width: 152px;
  }
  .video__main-video-play::after {
    border-width: 41.5px 0 41.5px 63px;
  }
}

@media (max-width: 768px) {
  .video__main-video-play {
    height: 80px;
    width: 80px;
    border-width: 4px;
  }
  .video__main-video-play::after {
    margin-left: 10px;
    border-width: 21px 0 21px 33px;
  }
}

.video__main-video-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
  position: absolute;
  width: 100%;
  background-color: black;
  height: 85px;
  bottom: -85px;
}

@media (max-width: 1024px) {
  .video__main-video-controls {
    gap: 0 31px;
    height: 60px;
    bottom: -60px;
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .video__main-video-controls {
    height: 53px;
    bottom: -53px;
    gap: 0 35px;
  }
}

.video__main-video-control-play {
  outline: none;
  cursor: pointer;
  width: 0;
  height: 0;
  background-color: transparent;
  border-style: solid;
  border-width: 15.5px 0 15.5px 23px;
  border-color: transparent transparent transparent #b3b3b3;
}

@media (max-width: 1024px) {
  .video__main-video-control-play {
    border-width: 14.5px 0 14.5px 23px;
    padding: 0;
    margin: 0;
  }
}

.video__main-video-progress {
  background: -webkit-gradient(linear, left top, right top, from(#710707), color-stop(53%, #710707), color-stop(53%, #c4c4c4), to(#c4c4c4));
  background: linear-gradient(to right, #710707 0%, #710707 53%, #c4c4c4 53%, #c4c4c4 100%);
  height: 8px;
  width: 66.6%;
  outline: none;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.video__main-video-progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: white;
}

.video__main-video-volume {
  border: none;
  outline: none;
  height: 31px;
  width: 38px;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../assets/svg/volume.svg);
}

@media (max-width: 1024px) {
  .video__main-video-volume {
    height: 20px;
    width: 26px;
    background-size: 26px 20px;
  }
}

.video__main-video-volume-progress {
  background: -webkit-gradient(linear, left top, right top, from(#710707), color-stop(47%, #710707), color-stop(47%, #c4c4c4), to(#c4c4c4));
  background: linear-gradient(to right, #710707 0%, #710707 47%, #c4c4c4 47%, #c4c4c4 100%);
  height: 8px;
  width: 11.1%;
  outline: none;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.video__main-video-volume-progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: white;
}

.video__main-video-fullscreen {
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../assets/svg/fullscreen.svg");
}

@media (max-width: 1024px) {
  .video__main-video-fullscreen {
    width: 26px;
    height: 26px;
    background-size: 26px 26px;
  }
}

.video__slider {
  overflow: hidden;
}

.video__slider-list {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .video__slider-list {
    margin-bottom: 20px;
  }
}

@media (max-width: 420px) {
  .video__slider-list {
    margin-bottom: 36px;
  }
}

.video__slider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  gap: 0 20px;
  width: 200px;
}

.video__slider-arrow-prev {
  cursor: pointer;
  width: 10px;
  height: 12px;
  outline: none;
  background-image: url(../assets/svg/double-arrow-prev.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.video__slider-arrow-next {
  cursor: pointer;
  width: 10px;
  height: 12px;
  outline: none;
  background-image: url(../assets/svg/double-arrow-next.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.video__slider-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video__slider-controls .swiper-pagination-bullet {
  cursor: pointer;
  margin: 0;
  background-color: #999999;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.gallery {
  background-color: black;
}

.gallery__inner {
  padding: 75px 0 0;
  height: 2200px;
  overflow: hidden;
  position: relative;
}

.gallery__inner::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

@media (max-width: 1440px) {
  .gallery__inner {
    height: 1460px;
  }
}

@media (max-width: 1024px) {
  .gallery__inner {
    padding-top: 60px;
  }
}

@media (max-width: 768px) {
  .gallery__inner {
    padding-top: 40px;
  }
}

@media (max-width: 920px) {
  .gallery__inner {
    height: 1220px;
  }
}

@media (max-width: 420px) {
  .gallery__inner {
    height: 757px;
  }
}

.gallery__title {
  font-family: Forum;
  text-transform: uppercase;
  color: white;
  font-size: 80px;
  line-height: 90px;
  margin-bottom: 75px;
  letter-spacing: 5px;
}

@media (max-width: 1024px) {
  .gallery__title {
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .gallery__title {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .gallery__title {
    font-size: 28px;
    line-height: 40px;
  }
}

.gallery__items {
  height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 23px 36px;
}

.gallery__items :first-child,
.gallery__items :nth-child(11) {
  margin-top: 25px;
}

@media (max-width: 1024px) {
  .gallery__items :first-child,
  .gallery__items :nth-child(11) {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .gallery__items {
    gap: 24px;
  }
}

.gallery__item {
  width: 31.5%;
}

@media (max-width: 768px) {
  .gallery__item {
    width: 48.4%;
  }
}

.tickets__inner {
  padding: 75px 0;
}

@media (max-width: 1024px) {
  .tickets__inner {
    padding: 60px 0;
  }
}

@media (max-width: 768px) {
  .tickets__inner {
    padding: 40px 0;
  }
}

.tickets__title {
  font-family: FORUM;
  font-size: 80px;
  line-height: 90px;
  color: #9d8665;
  margin-bottom: 75px;
  letter-spacing: 5px;
}

.tickets__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #710707;
  margin-top: 25px;
}

@media (max-width: 1024px) {
  .tickets__title {
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 61px;
  }
  .tickets__title::after {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .tickets__title {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 40px;
  }
}

@media (max-width: 420px) {
  .tickets__title {
    font-size: 28px;
    line-height: 40px;
  }
}

.tickets__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 650px) {
  .tickets__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.tickets__img-wrapper {
  margin-right: 60px;
}

@media (max-width: 1024px) {
  .tickets__img-wrapper {
    margin-right: 80px;
    width: 700px;
    height: 440px;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .tickets__img-wrapper {
    width: 100%;
    margin-right: 59px;
  }
}

@media (max-width: 650px) {
  .tickets__img-wrapper {
    height: 160px;
    margin-right: 0;
    margin-bottom: 40px;
  }
}

@media (max-width: 650px) {
  .tickets__img {
    width: 100%;
    height: 160px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.tickets__select {
  max-width: calc(50% - 60px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1245px) {
  .tickets__select {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: auto;
    max-width: none;
  }
}

@media (max-width: 1024px) {
  .tickets__select {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 29px;
  }
}

@media (max-width: 768px) {
  .tickets__select {
    margin-right: 49px;
  }
}

@media (max-width: 650px) {
  .tickets__select {
    margin-right: 0;
  }
}

.tickets__types-title {
  font-size: 28px;
  line-height: 33px;
  font-weight: 700;
  margin-bottom: 50px;
}

.tickets__types-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
}

.tickets__types-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 22px;
          column-gap: 22px;
  font-size: 22px;
  line-height: 26px;
}

.tickets__types-checkmark {
  display: inline-block;
  position: relative;
  min-width: 17px;
  height: 17px;
  border: 2px solid black;
  border-radius: 50%;
}

.tickets__types-radio:checked + .tickets__types-checkmark::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 7px;
  height: 7px;
  background-color: black;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 1245px) {
  .tickets__types {
    display: none;
  }
}

.tickets__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.tickets__amount-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 25px;
}

@media (max-width: 1024px) {
  .tickets__amount-title {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .tickets__amount-title {
    margin-bottom: 39px;
  }
}

@media (max-width: 420px) {
  .tickets__amount-title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
  }
}

.tickets__amount-text {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 25px;
  line-height: 26px;
  margin-bottom: 15px;
}

@media (max-width: 1024px) {
  .tickets__amount-text {
    padding-left: 0;
    margin-bottom: 9px;
  }
}

@media (max-width: 420px) {
  .tickets__amount-text {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
  }
}

.tickets__amount-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
  height: 50px;
  border: 3px solid black;
  padding: 0 0px;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .tickets__amount-item {
    margin-bottom: 30px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .tickets__amount-item {
    margin-bottom: 26px;
  }
}

@media (max-width: 420px) {
  .tickets__amount-item {
    margin-bottom: 20px;
  }
}

.tickets__amount-btn {
  border: none;
  outline: none;
  background-color: transparent;
}

.tickets__amount-btn-minus {
  position: relative;
  width: 40px;
}

.tickets__amount-btn-minus::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 16px;
  height: 3px;
  background-color: black;
}

.tickets__amount-btn-plus {
  position: relative;
  width: 40px;
}

.tickets__amount-btn-plus::after, .tickets__amount-btn-plus::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: black;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.tickets__amount-btn-plus::after {
  width: 16px;
  height: 3px;
}

.tickets__amount-btn-plus::before {
  width: 3px;
  height: 16px;
}

.tickets__amount-number {
  all: unset;
  font-family: Roboto;
  width: 60px;
  text-align: center;
  padding-left: 10px;
  line-height: 26px;
  color: black;
  font-size: 22px;
}

.tickets__amount-total {
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 60px;
}

@media (max-width: 1024px) {
  .tickets__amount-total {
    margin-top: -5px;
    margin-bottom: 69px;
  }
}

@media (max-width: 768px) {
  .tickets__amount-total {
    margin-top: 13px;
    margin-bottom: 40px;
  }
}

@media (max-width: 420px) {
  .tickets__amount-total {
    font-size: 16px;
    line-height: 19px;
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {
  .tickets__amount-price {
    margin-left: 16px;
  }
}

@media (max-width: 420px) {
  .tickets__amount-price {
    margin-left: 0;
  }
}

.tickets__amount-buy-btn {
  width: 175px;
  height: 50px;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .tickets__amount-buy-btn {
    width: 175px;
  }
}

@media (max-width: 1024px) {
  .tickets__amount {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 650px) {
  .tickets__amount {
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1024px) {
  .header__inner {
    position: relative;
    height: 130px;
  }
  .header__nav-list {
    padding-top: 22px;
    background-color: #030303;
    z-index: 99999;
    position: absolute;
    top: 130px;
    left: 0;
    width: 297px;
    height: 585px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav-list--active {
    display: block;
  }
  .header__nav-item {
    margin-left: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 143px;
    padding: 12.5px;
    font-size: 20px;
    line-height: 23px;
  }
  .header__nav-item::after {
    width: 7px;
    height: 7px;
    border: 1px solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    content: "";
  }
  .header__nav-btn {
    display: block;
  }
  .welcome__inner {
    height: 585px;
  }
  .welcome__info {
    padding-top: 50px;
  }
  .welcome__title {
    font-size: 50px;
  }
  .welcome__text {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 28px;
  }
  .welcome__btn {
    width: 300px;
    height: 60px;
    font-size: 20px;
    line-height: 23px;
  }
  .welcome__slider {
    width: 71%;
  }
  .welcome__slider-controls {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }
  .welcome__slider-pagination {
    width: 160px;
    margin-right: 45px;
  }
  .welcome__slider-pagination-item {
    width: 12px;
    height: 12px;
  }
  .welcome__slider-numbers {
    font-size: 20px;
    margin-right: 45px;
  }
  .tour__inner {
    padding: 60px 0;
  }
}

@media (max-width: 768px) {
  .header__inner {
    height: 110px;
  }
  .welcome__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 861px;
  }
  .welcome__info {
    text-align: center;
    padding-top: 0;
  }
  .welcome__title {
    line-height: 60px;
    font-size: 40px;
  }
  .welcome__text {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 47px;
  }
  .welcome__btn {
    display: none;
  }
  .welcome__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    position: static;
  }
  .welcome__slider::before {
    content: none;
  }
  .welcome__slider-controls {
    position: static;
    height: 100px;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tour__inner {
    padding: 40px 0 79px;
  }
}

@media (max-width: 420px) {
  .header__inner {
    height: 90px;
  }
  .header__logo {
    min-width: 131px;
  }
  .welcome__inner {
    height: 544px;
  }
  .welcome__title {
    padding-top: 5px;
    font-size: 28px;
    line-height: 40px;
  }
  .welcome__text {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 50px;
  }
  .welcome__slider-controls {
    height: 80px;
  }
  .welcome__slider-numbers {
    font-size: 18px;
    margin-right: 25px;
  }
  .welcome__slider-pagination {
    width: 75px;
    margin-right: 25px;
  }
  .welcome__slider-pagination-item {
    width: 7px;
    height: 7px;
  }
  .welcome__slider-line {
    margin: 0 5px;
  }
  .welcome__slider-arrows {
    width: 55px;
  }
  .welcome__slider-arrow {
    width: 20px;
    height: 8px;
  }
  .tour__inner {
    padding: 40px 0 38px;
  }
  .explore__inner {
    padding: 40px 0;
  }
}
/*# sourceMappingURL=style.css.map */