@import url("https://fonts.googleapis.com/css2?family=Forum&family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

$dark-color: #030303;
$red-color: #710707;
$gold-color: #9d8665;
$light-gold-color: #7e6c51;

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 300;
  font-size: 22px;
  font-family: Roboto, sans-serif;
  line-height: 38.5px;
  margin-bottom: 500px; //
}

.container {
  max-width: 1480px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: $dark-color;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
  }

  &__logo {
    min-width: 200px;
    margin-right: 40px;
  }

  &__nav {
    width: 100%;
    max-width: 775px;
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
  }

  &__nav-item {
    font-weight: 300;
    font-size: 22px;
    font-family: Roboto, sans-serif;
    line-height: 26px;
    letter-spacing: 2px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__nav-link {
    color: white;
    text-transform: capitalize;
    text-decoration: none;

    &:hover {
      color: $gold-color;
    }

    &:active {
      color: $light-gold-color;
    }
  }

  &__nav-btn {
    display: none;
    width: 25px;
    height: 25px;
    margin-left: auto;
    background-color: transparent;
    background-image: url("../assets/dropdown_menu.png");
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;

    &--active {
      background-image: url("../assets/cross.png");
    }
  }
}

.welcome {
  background-color: $dark-color;
  &__inner {
    position: relative;
    height: 810px;
  }

  &__info {
    position: relative;
    padding-top: 150px;
    z-index: 5;
  }

  &__title {
    font-weight: 400;
    font-family: forum;
    color: white;
    margin-bottom: 25px;
    font-size: 80px;
    line-height: 90px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  &__text {
    color: white;
    margin-bottom: 75px;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
  }

  &__btn {
    width: 360px;
    height: 75px;
    background-color: #710707;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    cursor: pointer;
  }

  &__slider {
    position: absolute;
    right: 0;
    top: 0;
    width: 69.4%;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        #000000 0%,
        rgba(0, 0, 0, 0.5) 16.19%,
        rgba(0, 0, 0, 0) 30.73%
      );
    }
  }

  &__slider-list {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  &__slider-item {
    flex-shrink: 0;
    max-width: 100%;
  }

  &__slider-controls {
    background-color: $dark-color;
    height: 120px;
    position: absolute;
    right: 0;
    bottom: -60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 75px 0 74px;
    width: 600px;
  }

  &__slider-numbers {
    display: flex;
    align-items: center;
    font-weight: 400;
    line-height: 40px;
    color: white;
  }

  &__slider-line {
    margin: 0 12px;
    width: 2px;
    height: 20px;
    background-color: white;
  }

  &__slider-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
  }

  &__slider-pagination-item {
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-color: white;
    &:hover {
      background-color: $light-gold-color;
    }
    &--active {
      background-color: $gold-color;
    }
  }

  &__slider-arrows {
    display: flex;
    justify-content: space-between;
    width: 80px;
  }

  &__slider-arrow {
    cursor: pointer;
    border: none;
    outline: none;
    width: 30px;
    height: 8px;
    &:hover {
      filter: invert(71%) sepia(41%) saturate(292%) hue-rotate(355deg)
        brightness(94%) contrast(91%);
    }
  }
  &__slider-arrow-prev {
    background: url("../assets/svg/arrow-prev.svg") no-repeat center;
  }
  &__slider-arrow-next {
    background: url("../assets/svg/arrow-next.svg") no-repeat center;
  }
}

.tour {
  &__inner {
    padding: 75px 0;
  }

  &__title {
    font-family: Forum;
    font-size: 80px;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    color: $gold-color;
    text-transform: uppercase;
    margin-bottom: 75px;
    &::after {
      margin-top: 25px;
      display: block;
      content: "";
      width: 100%;
      height: 3px;
      background-color: $red-color;
    }
    @media (max-width: 1024px) {
      font-size: 50px;
      line-height: 75px;
      margin-bottom: 60px;
      &::after {
        margin-top: 20px;
      }
    }
    @media (max-width: 768px) {
      font-size: 40px;
      line-height: 60px;
      margin-bottom: 40px;
    }
    @media (max-width: 420px) {
      font-size: 28px;
      line-height: 40px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(320px, 440px));

    justify-content: space-between;
    gap: 74px 25px;
    @media (max-width: 1050px) {
      grid-template-columns: repeat(2, minmax(280px, 330px));
      justify-content: center;
      gap: 60px 108px;
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, minmax(210px, 280px));
      gap: 40px 56px;
    }
    @media (max-width: 550px) {
      grid-template-columns: minmax(250px, 280px);
    }
  }

  &__item {
    max-width: 440px;
    &:hover &-title::after {
      width: 100%;
    }
  }

  &__item-img {
    margin-bottom: 25px;
  }

  &__item-title {
    text-transform: uppercase;
    font-family: Forum;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 5px;
    margin-bottom: 5px;
    &::after {
      margin-top: 10px;
      display: block;
      height: 2px;
      content: "";
      width: 68%;
      background-color: $red-color;
      transition: 0.3s;
    }
    @media (max-width: 1024px) {
      font-size: 28px;
      line-height: 31px;
      letter-spacing: 3px;
      margin-bottom: 10px;
      &::after {
        width: 45%;
        margin-top: 11px;
      }
    }
    @media (max-width: 768px) {
      font-size: 22px;
      line-height: 24px;
      &::after {
        width: 53%;
        margin-top: 9px;
      }
    }
    @media (max-width: 420px) {
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 5px;
    }
  }

  &__item-text {
    margin-bottom: 3px;
    @media (max-width: 1024px) {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 10px;
    }
    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 21px;
    }
    @media (max-width: 420px) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__item-subtext {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: 21px;
    @media (max-width: 1024px) {
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.explore {
  background-color: $dark-color;
  &__inner {
    display: flex;
    padding: 75px 0;
    @media (max-width: 1024px) {
      padding: 60px 0;
      flex-direction: column;
    }
    @media (max-width: 768px) {
      padding: 40px 0 45px;
    }
  }
  &__info {
    max-width: 660px;
    margin-right: 60px;
    @media (max-width: 1024px) {
      max-width: 100%;
      width: 100%;
    }
  }
  &__title {
    font-family: FORUM;
    letter-spacing: 5px;
    font-size: 80px;
    line-height: 90px;
    color: white;
    margin-bottom: 76px;
    text-transform: uppercase;
    &::after {
      content: "";
      background-color: $red-color;
      margin-top: 25px;
      display: block;
      height: 3px;
    }
    @media (max-width: 1024px) {
      font-size: 50px;
      line-height: 75px;
      margin-bottom: 60px;
      &::after {
        margin-top: 20px;
      }
    }
    @media (max-width: 768px) {
      margin-bottom: 25px;
      font-size: 40px;
      line-height: 60px;
    }
    @media (max-width: 420px) {
      font-size: 28px;
      line-height: 40px;
      &::after {
        margin-top: 18px;
      }
    }
  }
  &__text {
    color: white;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
    &--yellow {
      color: $gold-color;
    }
    @media (max-width: 1024px) {
      font-size: 20px;
      line-height: 39px;
      margin-bottom: 0;
      &--space {
        display: none;
      }
      &:last-child {
        display: none;
      }
      &:nth-of-type(2) {
        margin-bottom: 40px;
      }
    }
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__slider {
    min-width: 540px;
    margin-top: 15px;
    @media (max-width: 1024px) {
      align-self: center;
    }
    @media (max-width: 768px) {
      min-width: 0;
      align-self: stretch;
    }
  }
}

.video {
  &__inner {
    padding: 75px 0;
    @media (max-width: 1024px) {
      padding: 60px 0;
    }
    @media (max-width: 768px) {
      padding: 40px 0 80px;
    }
    @media (max-width: 420px) {
      padding: 40px 0;
    }
  }
  &__info {
    display: flex;
    margin-bottom: 75px;
    @media (max-width: 1024px) {
      margin-bottom: 40px;
    }
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
    @media (max-width: 420px) {
      margin-bottom: 16px;
    }
  }
  &__title {
    text-transform: uppercase;
    font-family: forum;
    font-size: 80px;
    line-height: 90px;
    color: $gold-color;
    letter-spacing: 5px;
    margin-right: 115px;
    @media (max-width: 1024px) {
      font-size: 50px;
      line-height: 75px;
      margin: 0;
    }
    @media (max-width: 768px) {
      font-size: 40px;
      line-height: 60px;
    }
    @media (max-width: 420px) {
      font-size: 28px;
      line-height: 40px;
    }
  }
  &__text {
    margin-top: 7px;
    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__main-video {
    display: flex;
    position: relative;
    margin-bottom: 125px;
    @media (max-width: 1024px) {
      margin-bottom: 100px;
    }
    @media (max-width: 768px) {
      margin-bottom: 77px;
    }
    @media (max-width: 420px) {
      margin-bottom: 95px;
    }
  }

  &__main-video-play {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    background-color: transparent;
    border-radius: 50%;
    border: 9px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::after {
      content: "";
      width: 0;
      height: 0;
      margin-left: 25px;
      border-style: solid;
      border-width: 60px 0 60px 91px;
      border-color: transparent transparent transparent white;
    }

    &:hover {
      border-color: rgb(199, 195, 195);
    }

    @media (max-width: 1024px) {
      height: 152px;
      width: 152px;
      &::after {
        border-width: 41.5px 0 41.5px 63px;
      }
    }
    @media (max-width: 768px) {
      height: 80px;
      width: 80px;
      border-width: 4px;
      &::after {
        margin-left: 10px;
        border-width: 21px 0 21px 33px;
      }
    }
  }

  &__main-video-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: absolute;
    width: 100%;
    background-color: black;
    height: 85px;
    bottom: -85px;
    @media (max-width: 1024px) {
      gap: 0 31px;
      height: 60px;
      bottom: -60px;
      padding: 0 40px;
    }
    @media (max-width: 768px) {
      height: 53px;
      bottom: -53px;
      gap: 0 35px;
    }
  }

  &__main-video-control-play {
    outline: none;
    cursor: pointer;
    width: 0;
    height: 0;
    background-color: transparent;
    border-style: solid;
    border-width: 15.5px 0 15.5px 23px;
    border-color: transparent transparent transparent #b3b3b3;
    @media (max-width: 1024px) {
      border-width: 14.5px 0 14.5px 23px;
      padding: 0;
      margin: 0;
    }
  }

  &__main-video-progress {
    background: linear-gradient(
      to right,
      #710707 0%,
      #710707 53%,
      #c4c4c4 53%,
      #c4c4c4 100%
    );
    height: 8px;
    width: 66.6%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    &::-webkit-slider-thumb {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      -webkit-appearance: none;
      cursor: pointer;
      background: white;
    }
  }

  &__main-video-volume {
    border: none;
    outline: none;
    height: 31px;
    width: 38px;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../assets/svg/volume.svg);

    @media (max-width: 1024px) {
      height: 20px;
      width: 26px;
      background-size: 26px 20px;
    }
  }

  &__main-video-volume-progress {
    background: linear-gradient(
      to right,
      #710707 0%,
      #710707 47%,
      #c4c4c4 47%,
      #c4c4c4 100%
    );
    height: 8px;
    width: 11.1%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    &::-webkit-slider-thumb {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      -webkit-appearance: none;
      cursor: pointer;
      background: white;
    }
  }

  &__main-video-fullscreen {
    border: none;
    outline: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: transparent;
    background-image: url("../assets/svg/fullscreen.svg");
    @media (max-width: 1024px) {
      width: 26px;
      height: 26px;
      background-size: 26px 26px;
    }
  }

  &__slider {
    overflow: hidden;
  }

  &__slider-list {
    margin-bottom: 40px;
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
    @media (max-width: 420px) {
      margin-bottom: 36px;
    }
  }

  &__slider-controls {
    display: flex;
    margin: 0 auto;
    gap: 0 20px;
    width: 200px;
  }

  &__slider-arrow-prev {
    cursor: pointer;
    width: 10px;
    height: 12px;
    outline: none;
    background-image: url(../assets/svg/double-arrow-prev.svg);
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
  }

  &__slider-arrow-next {
    cursor: pointer;
    width: 10px;
    height: 12px;
    outline: none;
    background-image: url(../assets/svg/double-arrow-next.svg);
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
  }

  &__slider-dots {
    display: flex;
    justify-content: space-between;
  }
  &__slider-controls .swiper-pagination-bullet {
    cursor: pointer;
    margin: 0;
    background-color: #999999;
    border-radius: 50%;
    width: 12px;
    height: 12px;
  }
}

// GALLERY

.gallery {
  background-color: black;
  &__inner {
    padding: 75px 0 0;
    height: 2200px;
    overflow: hidden;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 200px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    }
    @media (max-width: 1440px) {
      height: 1460px;
    }
    @media (max-width: 1024px) {
      padding-top: 60px;
    }
    @media (max-width: 768px) {
      padding-top: 40px;
    }
    @media (max-width: 920px) {
      height: 1220px;
    }
    @media (max-width: 420px) {
      height: 757px;
    }
  }

  &__title {
    font-family: Forum;
    text-transform: uppercase;
    color: white;
    font-size: 80px;
    line-height: 90px;
    margin-bottom: 75px;
    letter-spacing: 5px;
    @media (max-width: 1024px) {
      font-size: 50px;
      line-height: 75px;
      margin-bottom: 60px;
    }
    @media (max-width: 768px) {
      font-size: 40px;
      line-height: 60px;
      margin-bottom: 40px;
    }
    @media (max-width: 768px) {
      font-size: 28px;
      line-height: 40px;
    }
  }
  &__items {
    height: 150%;
    display: flex;
    flex-flow: column wrap;
    gap: 23px 36px;
    :first-child,
    :nth-child(11) {
      margin-top: 25px;
    }

    @media (max-width: 1024px) {
      :first-child,
      :nth-child(11) {
        margin-top: 50px;
      }
    }
    @media (max-width: 768px) {
      gap: 24px;
    }
  }
  &__item {
    width: 31.5%;
    @media (max-width: 768px) {
      width: 48.4%;
    }
  }
}

// TICKETS

.tickets {
  &__inner {
    padding: 75px 0;
    @media (max-width: 1024px) {
      padding: 60px 0;
    }
    @media (max-width: 768px) {
      padding: 40px 0;
    }
  }
  &__title {
    font-family: FORUM;
    font-size: 80px;
    line-height: 90px;
    color: $gold-color;
    margin-bottom: 75px;
    letter-spacing: 5px;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: $red-color;
      margin-top: 25px;
    }
    @media (max-width: 1024px) {
      font-size: 50px;
      line-height: 75px;
      margin-bottom: 61px;
      &::after {
        margin-top: 20px;
      }
    }
    @media (max-width: 768px) {
      font-size: 40px;
      line-height: 60px;
      margin-bottom: 40px;
    }
    @media (max-width: 420px) {
      font-size: 28px;
      line-height: 40px;
    }
  }

  &__content {
    display: flex;
    @media (max-width: 650px) {
      flex-direction: column;
    }
  }
  &__img-wrapper {
    margin-right: 60px;
    @media (max-width: 1024px) {
      margin-right: 80px;
      width: 700px;
      height: 440px;
      overflow: hidden;
    }
    @media (max-width: 768px) {
      width: 100%;
      margin-right: 59px;
    }
    @media (max-width: 650px) {
      height: 160px;
      margin-right: 0;
      margin-bottom: 40px;
    }
  }

  &__img {
    @media (max-width: 650px) {
      width: 100%;
      height: 160px;
      object-fit: cover;
    }
  }

  &__select {
    max-width: calc(50% - 60px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1245px) {
      justify-content: flex-end;
      width: auto;
      max-width: none;
    }
    @media (max-width: 1024px) {
      justify-content: space-between;
      margin-right: 29px;
    }
    @media (max-width: 768px) {
      margin-right: 49px;
    }
    @media (max-width: 650px) {
      margin-right: 0;
    }
  }

  &__types {
    &-title {
      font-size: 28px;
      line-height: 33px;
      font-weight: 700;
      margin-bottom: 50px;
    }

    &-items {
      display: flex;
      flex-direction: column;
      row-gap: 25px;
    }
    &-label {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 22px;
      font-size: 22px;
      line-height: 26px;
    }

    &-checkmark {
      display: inline-block;
      position: relative;
      min-width: 17px;
      height: 17px;
      border: 2px solid black;
      border-radius: 50%;
    }

    &-radio:checked + &-checkmark::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      width: 7px;
      height: 7px;
      background-color: black;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
    @media (max-width: 1245px) {
      display: none;
    }
  }

  &__amount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &-title {
      font-weight: 700;
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 25px;
      @media (max-width: 1024px) {
        margin-bottom: 30px;
      }
      @media (max-width: 768px) {
        margin-bottom: 39px;
      }
      @media (max-width: 420px) {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 20px;
      }
    }

    &-text {
      align-self: flex-start;
      padding-left: 25px;
      line-height: 26px;
      margin-bottom: 15px;
      @media (max-width: 1024px) {
        padding-left: 0;
        margin-bottom: 9px;
      }
      @media (max-width: 420px) {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 15px;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 150px;
      height: 50px;
      border: 3px solid black;
      padding: 0 0px;
      margin-bottom: 10px;
      @media (max-width: 1024px) {
        margin-bottom: 30px;
        width: 100%;
      }
      @media (max-width: 768px) {
        margin-bottom: 26px;
      }
      @media (max-width: 420px) {
        margin-bottom: 20px;
      }
    }

    &-btn {
      border: none;
      outline: none;
      background-color: transparent;
      &-minus {
        position: relative;
        width: 40px;

        &::after {
          position: absolute;
          content: "";
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 16px;
          height: 3px;
          background-color: black;
        }
      }

      &-plus {
        position: relative;
        width: 40px;
        &::after,
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          background-color: black;
          transform: translate(-50%, -50%);
        }
        &::after {
          width: 16px;
          height: 3px;
        }
        &::before {
          width: 3px;
          height: 16px;
        }
      }
    }

    &-number {
      all: unset;
      font-family: Roboto;
      width: 60px;
      text-align: center;
      padding-left: 10px;
      line-height: 26px;
      color: black;
      font-size: 22px;
    }

    &-total {
      font-size: 28px;
      line-height: 33px;
      letter-spacing: 1.65px;
      font-weight: 700;
      margin-top: 40px;
      margin-bottom: 60px;
      @media (max-width: 1024px) {
        margin-top: -5px;
        margin-bottom: 69px;
      }
      @media (max-width: 768px) {
        margin-top: 13px;
        margin-bottom: 40px;
      }
      @media (max-width: 420px) {
        font-size: 16px;
        line-height: 19px;
        margin-top: 20px;
      }
    }

    &-price {
      @media (max-width: 1024px) {
        margin-left: 16px;
      }
      @media (max-width: 420px) {
        margin-left: 0;
      }
    }
    &-buy-btn {
      width: 175px;
      height: 50px;
      font-size: 22px;
      line-height: 26px;
      letter-spacing: 2px;
      border: none;
      background-color: black;
      color: white;
      cursor: pointer;
      @media (max-width: 1024px) {
        width: 175px;
      }
    }

    @media (max-width: 1024px) {
      align-items: flex-start;
    }
    @media (max-width: 650px) {
      margin: 0 auto;
      align-items: center;
    }
  }
}
.parallax {
  &__bg {
    background-image: url("../assets/parallax.jpg");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    @media (max-width: 768px) {
      height: 300px;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    &__inner {
      position: relative;
      height: 130px;
    }

    &__nav-list {
      padding-top: 22px;
      background-color: $dark-color;
      z-index: 99999;
      position: absolute;
      top: 130px;
      left: 0;
      width: 297px;
      height: 585px;
      display: none;
      flex-direction: column;

      &--active {
        display: block;
      }
    }

    &__nav-item {
      margin-left: 22px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 143px;
      padding: 12.5px;
      font-size: 20px;
      line-height: 23px;

      &::after {
        width: 7px;
        height: 7px;
        border: 1px solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(-45deg);
        content: "";
      }
    }

    &__nav-btn {
      display: block;
    }
  }
  .welcome {
    &__inner {
      height: 585px;
    }
    &__info {
      padding-top: 50px;
    }
    &__title {
      font-size: 50px;
    }
    &__text {
      margin-bottom: 50px;
      font-size: 24px;
      line-height: 28px;
    }

    &__btn {
      width: 300px;
      height: 60px;
      font-size: 20px;
      line-height: 23px;
    }

    &__slider {
      width: 71%;
    }
    &__slider-controls {
      justify-content: flex-end;
      width: 100%;
    }

    &__slider-pagination {
      width: 160px;
      margin-right: 45px;
    }

    &__slider-pagination-item {
      width: 12px;
      height: 12px;
    }

    &__slider-numbers {
      font-size: 20px;
      margin-right: 45px;
    }
  }
  .tour {
    &__inner {
      padding: 60px 0;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__inner {
      height: 110px;
    }
  }

  .welcome {
    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 861px;
    }
    &__info {
      text-align: center;
      padding-top: 0;
    }
    &__title {
      line-height: 60px;
      font-size: 40px;
    }
    &__text {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 47px;
    }
    &__btn {
      display: none;
    }
    &__slider {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: static;
      &::before {
        content: none;
      }
    }
    &__slider-controls {
      position: static;
      height: 100px;
      padding: 0;
      justify-content: center;
    }
  }
  .tour {
    &__inner {
      padding: 40px 0 79px;
    }
  }
}

@media (max-width: 420px) {
  .header {
    &__inner {
      height: 90px;
    }
    &__logo {
      min-width: 131px;
    }
  }

  .welcome {
    &__inner {
      height: 544px;
    }
    &__title {
      padding-top: 5px;
      font-size: 28px;
      line-height: 40px;
    }

    &__text {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 50px;
    }

    &__slider-controls {
      height: 80px;
    }

    &__slider-numbers {
      font-size: 18px;
      margin-right: 25px;
    }

    &__slider-pagination {
      width: 75px;
      margin-right: 25px;
    }
    &__slider-pagination-item {
      width: 7px;
      height: 7px;
    }
    &__slider-line {
      margin: 0 5px;
    }
    &__slider-arrows {
      width: 55px;
    }
    &__slider-arrow {
      width: 20px;
      height: 8px;
    }
  }
  .tour {
    &__inner {
      padding: 40px 0 38px;
    }
  }
  .explore {
    &__inner {
      padding: 40px 0;
    }
  }
}
