@import url("https://fonts.googleapis.com/css2?family=Forum&family=Roboto:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 300;
  font-size: 22px;
  font-family: Roboto, sans-serif;
  line-height: 38.5px;
  margin-bottom: 500px;
}

.container {
  max-width: 1480px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: #030303;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 150px;
}

.header__logo {
  min-width: 200px;
  margin-right: 40px;
}

.header__nav {
  width: 100%;
  max-width: 775px;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-item {
  font-weight: 300;
  font-size: 22px;
  font-family: Roboto, sans-serif;
  line-height: 26px;
  letter-spacing: 2px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  color: white;
  text-transform: capitalize;
  text-decoration: none;
}

.header__nav-link:hover {
  color: #9d8665;
}

.header__nav-link:active {
  color: #7e6c51;
}

.header__nav-btn {
  display: none;
  width: 25px;
  height: 25px;
  margin-left: auto;
  background-color: transparent;
  background-image: url("../assets/dropdown_menu.png");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}

.header__nav-btn--active {
  background-image: url("../assets/cross.png");
}

.welcome {
  background-color: #030303;
}

.welcome__inner {
  position: relative;
  height: 810px;
}

.welcome__info {
  position: relative;
  padding-top: 150px;
  z-index: 5;
}

.welcome__title {
  font-weight: 400;
  font-family: forum;
  color: white;
  margin-bottom: 25px;
  font-size: 80px;
  line-height: 90px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.welcome__text {
  color: white;
  margin-bottom: 75px;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
}

.welcome__btn {
  width: 360px;
  height: 75px;
  background-color: #710707;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  cursor: pointer;
}

.welcome__slider {
  position: absolute;
  right: 0;
  top: 0;
  width: 69.4%;
}

.welcome__slider::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(16.19%, rgba(0, 0, 0, 0.5)), color-stop(30.73%, rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

.welcome__slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.welcome__slider-item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 100%;
}

.welcome__slider-controls {
  background-color: #030303;
  height: 120px;
  position: absolute;
  right: 0;
  bottom: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 75px 0 74px;
  width: 600px;
}

.welcome__slider-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  line-height: 40px;
  color: white;
}

.welcome__slider-line {
  margin: 0 12px;
  width: 2px;
  height: 20px;
  background-color: white;
}

.welcome__slider-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 180px;
}

.welcome__slider-pagination-item {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-color: white;
}

.welcome__slider-pagination-item:hover {
  background-color: #7e6c51;
}

.welcome__slider-pagination-item--active {
  background-color: #9d8665;
}

.welcome__slider-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80px;
}

.welcome__slider-arrow {
  cursor: pointer;
  border: none;
  outline: none;
  width: 30px;
  height: 8px;
}

.welcome__slider-arrow:hover {
  -webkit-filter: invert(71%) sepia(41%) saturate(292%) hue-rotate(355deg) brightness(94%) contrast(91%);
          filter: invert(71%) sepia(41%) saturate(292%) hue-rotate(355deg) brightness(94%) contrast(91%);
}

.welcome__slider-arrow-prev {
  background: url("../assets/svg/arrow-prev.svg") no-repeat center;
}

.welcome__slider-arrow-next {
  background: url("../assets/svg/arrow-next.svg") no-repeat center;
}

.tour__inner {
  padding: 75px 0;
}

.tour__title {
  font-family: Forum;
  font-size: 80px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  color: #9d8665;
  text-transform: uppercase;
  margin-bottom: 75px;
}

.tour__title::after {
  margin-top: 25px;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #710707;
}

@media (max-width: 1024px) {
  .tour__title {
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 60px;
  }
  .tour__title::after {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .tour__title {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 40px;
  }
}

@media (max-width: 420px) {
  .tour__title {
    font-size: 28px;
    line-height: 40px;
  }
}

.tour__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 440px))[3];
      grid-template-columns: repeat(3, minmax(320px, 440px));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 74px 25px;
}

@media (max-width: 1050px) {
  .tour__list {
    -ms-grid-columns: (minmax(280px, 330px))[2];
        grid-template-columns: repeat(2, minmax(280px, 330px));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 60px 108px;
  }
}

@media (max-width: 768px) {
  .tour__list {
    -ms-grid-columns: (minmax(210px, 280px))[2];
        grid-template-columns: repeat(2, minmax(210px, 280px));
    gap: 40px 56px;
  }
}

@media (max-width: 550px) {
  .tour__list {
    -ms-grid-columns: minmax(250px, 280px);
        grid-template-columns: minmax(250px, 280px);
  }
}

.tour__item {
  max-width: 440px;
}

.tour__item:hover .tour__item-title::after {
  width: 100%;
}

.tour__item-img {
  margin-bottom: 25px;
}

.tour__item-title {
  text-transform: uppercase;
  font-family: Forum;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 5px;
  margin-bottom: 5px;
}

.tour__item-title::after {
  margin-top: 10px;
  display: block;
  height: 2px;
  content: "";
  width: 68%;
  background-color: #710707;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1024px) {
  .tour__item-title {
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 3px;
    margin-bottom: 10px;
  }
  .tour__item-title::after {
    width: 45%;
    margin-top: 11px;
  }
}

@media (max-width: 768px) {
  .tour__item-title {
    font-size: 22px;
    line-height: 24px;
  }
  .tour__item-title::after {
    width: 53%;
    margin-top: 9px;
  }
}

@media (max-width: 420px) {
  .tour__item-title {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 5px;
  }
}

.tour__item-text {
  margin-bottom: 3px;
}

@media (max-width: 1024px) {
  .tour__item-text {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .tour__item-text {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 420px) {
  .tour__item-text {
    font-size: 16px;
    line-height: 19px;
  }
}

.tour__item-subtext {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: 21px;
}

@media (max-width: 1024px) {
  .tour__item-subtext {
    font-size: 16px;
    line-height: 19px;
  }
}

.explore {
  background-color: #030303;
}

.explore__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 75px 0;
}

@media (max-width: 1024px) {
  .explore__inner {
    padding: 60px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .explore__inner {
    padding: 40px 0 38px;
  }
}

.explore__info {
  max-width: 660px;
  margin-right: 60px;
}

@media (max-width: 1024px) {
  .explore__info {
    max-width: 100%;
    width: 100%;
  }
}

.explore__title {
  font-family: FORUM;
  letter-spacing: 5px;
  font-size: 80px;
  line-height: 90px;
  color: white;
  margin-bottom: 76px;
  text-transform: uppercase;
}

.explore__title::after {
  content: "";
  background-color: #710707;
  margin-top: 25px;
  display: block;
  height: 3px;
}

@media (max-width: 1024px) {
  .explore__title {
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 60px;
  }
  .explore__title::after {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .explore__title {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 60px;
  }
}

@media (max-width: 420px) {
  .explore__title {
    font-size: 28px;
    line-height: 40px;
  }
  .explore__title::after {
    margin-top: 18px;
  }
}

.explore__text {
  color: white;
  margin-bottom: 25px;
}

.explore__text:last-child {
  margin-bottom: 0;
}

.explore__text--yellow {
  color: #9d8665;
}

@media (max-width: 1024px) {
  .explore__text {
    font-size: 20px;
    line-height: 39px;
    margin-bottom: 0;
  }
  .explore__text--space {
    display: none;
  }
  .explore__text:last-child {
    display: none;
  }
  .explore__text:nth-of-type(2) {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .explore__text {
    display: none;
  }
}

.explore__slider {
  min-width: 540px;
  margin-top: 15px;
}

@media (max-width: 1024px) {
  .explore__slider {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 768px) {
  .explore__slider {
    min-width: 0;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}

@media (max-width: 1024px) {
  .header__inner {
    position: relative;
    height: 130px;
  }
  .header__nav-list {
    padding-top: 22px;
    background-color: #030303;
    z-index: 99999;
    position: absolute;
    top: 130px;
    left: 0;
    width: 297px;
    height: 585px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav-list--active {
    display: block;
  }
  .header__nav-item {
    margin-left: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 143px;
    padding: 12.5px;
    font-size: 20px;
    line-height: 23px;
  }
  .header__nav-item::after {
    width: 7px;
    height: 7px;
    border: 1px solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    content: "";
  }
  .header__nav-btn {
    display: block;
  }
  .welcome__inner {
    height: 585px;
  }
  .welcome__info {
    padding-top: 50px;
  }
  .welcome__title {
    font-size: 50px;
  }
  .welcome__text {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 28px;
  }
  .welcome__btn {
    width: 300px;
    height: 60px;
    font-size: 20px;
    line-height: 23px;
  }
  .welcome__slider {
    width: 71%;
  }
  .welcome__slider-controls {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }
  .welcome__slider-pagination {
    width: 160px;
    margin-right: 45px;
  }
  .welcome__slider-pagination-item {
    width: 12px;
    height: 12px;
  }
  .welcome__slider-numbers {
    font-size: 20px;
    margin-right: 45px;
  }
  .tour__inner {
    padding: 60px 0 79px;
  }
}

@media (max-width: 768px) {
  .header__inner {
    height: 110px;
  }
  .welcome__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 861px;
  }
  .welcome__info {
    text-align: center;
    padding-top: 0;
  }
  .welcome__title {
    line-height: 60px;
    font-size: 40px;
  }
  .welcome__text {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 47px;
  }
  .welcome__btn {
    display: none;
  }
  .welcome__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    position: static;
  }
  .welcome__slider::before {
    content: none;
  }
  .welcome__slider-controls {
    position: static;
    height: 100px;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tour__inner {
    padding: 40px 0;
  }
}

@media (max-width: 420px) {
  .header__inner {
    height: 90px;
  }
  .header__logo {
    min-width: 131px;
  }
  .welcome__inner {
    height: 544px;
  }
  .welcome__title {
    padding-top: 5px;
    font-size: 28px;
    line-height: 40px;
  }
  .welcome__text {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 50px;
  }
  .welcome__slider-controls {
    height: 80px;
  }
  .welcome__slider-numbers {
    font-size: 18px;
    margin-right: 25px;
  }
  .welcome__slider-pagination {
    width: 75px;
    margin-right: 25px;
  }
  .welcome__slider-pagination-item {
    width: 7px;
    height: 7px;
  }
  .welcome__slider-line {
    margin: 0 5px;
  }
  .welcome__slider-arrows {
    width: 55px;
  }
  .welcome__slider-arrow {
    width: 20px;
    height: 8px;
  }
}
/*# sourceMappingURL=style.css.map */